h1 {
    font-size: 16px;
    color: red;
}

.wrapper {
    padding-top: 80px;
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 80px;
}

.time {
    display: block;
}

input {
    display: block;
    width: 180px;
    height: 30px;
    padding: 0 15px;
    font-size: 16px;
}

.helpTime {
    display: none;
    margin-bottom: 25px;
}
.visible {
    display: block;
}

button {
    margin-top: 50px;
    margin-left: 130px;
    background-color: #195ff6;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: none;   
    
}

button:hover {
    cursor: pointer;
    background-color: #163f8e;
}


.result-payAllNdfl {
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.result-block {
    background-color: rgb(165, 161, 161);
}
