h1 {
    font-size: 16px;
    color: red;
}

p {
    margin-top: 25px;
    margin-bottom: 5px;
}

p:last-child {
    font-size: 20px;
    margin-top: 35px;
}

.wrapper {
    padding-top: 20px;
    width: 1240px;
    margin: 0 auto;
    display: flex;
     
    font-size: 18px;
    gap: 70px;
}

.time {
    display: block;
}

input {
    display: block;
    width: 180px;
    height: 30px;
    padding: 0 15px;
    font-size: 16px;
}

.helpTime {
    display: none;
    margin-bottom: 25px;
}
.visible {
    display: block;
}

button {
    margin-top: 40px;
    background-color: #195ff6;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: none;   
    
}

button:hover {
    cursor: pointer;
    background-color: #163f8e;
}

